<h3><%= @dog.name %>'s wall</h3>

<ul class="comments">

	<% @dog.comments.each do |comment|%>
		
		<li id="level1" data-id="<%=comment.id%>" data-delete="<%=comment.id%>">
			<%=render 'comment', :comment => comment %>
		</li>

		<% if comment.comments %>
			<%comment.comments.each do |comment|%>
				<li id="level2" data-delete="<%=comment.id%>">
					<%=render 'comment', :comment => comment %>
				</li>
			<% end %>
		<% end %>

		<div id="reply" data-id="<%=comment.id%>" class="">
			<form id="newreplies" action="/comments" method="post">
			  <li id="level2">
				  <input type="hidden" name ="comment[author_id]" value="<%= Dog.find_by(owner_id: session[:current_user]).id %>" required>
				  <input type="hidden" name ="comment[commentable_id]" value="<%=comment.id%>" required>
				  <input type="hidden" name ="comment[commentable_type]" value="Comment" required>
				  <label for="comment"></label>
				  <input type="text" class="input half-width" name ="comment[content]" placeholder="Write a reply!" required>
					<input type="submit" class="button button-small button-blue" value="Reply!">
				</li>
			</form>
		</div>


	<% end %>

<br>
<form id="newcomments" action="/comments" method="post">
  <input type="hidden" name ="comment[author_id]" value="<%= Dog.find_by(owner_id: session[:current_user]).id %>" required>
  <input type="hidden" name ="comment[commentable_id]" value="<%= @dog.id %>" required>
  <input type="hidden" name ="comment[commentable_type]" value="Dog" required>
  <label for="comment"></label>
  <input type="text" class="input half-width" name ="comment[content]" placeholder="Write on <%=@dog.name%>'s wall!" required>
<input type="submit" class="button button-small button-blue" value="Comment!">
</form>
</ul>