	 <div id="profile-overlay"></div>
<div class="container">

  <div class="dogs-index">
      <h1>Dogs</h1>
      <div id="search-form">
          <%= form_tag("/dogs/search", method: "get") do %>
          <input type="text" placeholder="Gender" name="query[gender]">
          <input type="text" placeholder="Breed" name="query[breed]">
          <input type="text" placeholder="Size" name="query[size]">
          <input type="text" placeholder="Location" name="query[location]">
          <input type="submit">
          <% end %>
       </div>

      <% @dogs.each do |dog| %>

       <div data-dog-id=<%=dog.id %> id="profile-content-<%=dog.id %>">
	  	 <%= render partial: 'profilemodal', locals: {dog: dog} %>
	     </div>

    <div class="card">
      <div id="img">
      	<img src="<%= dog.photo_url %> " alt="pic" width="200" height="180">
      </div>
      <div id="description">
        <h4><%= dog.name %></h4>
        <p><%= dog.gender %> | <%= dog.birthday %></p>
        <p>Breed: <%= dog.breed %></p>
        <p>Lives in: <%= dog.location %><br></p>
        <% @id = dog.id %>
        <button data-dog-id="<%= dog.id %>" class="view-profile">View Profile</button>
      </div>
    </div>
  <% end %>
  </div>
</div>

